.container {
  padding: 20px;
  .col-md-3 {
    margin-top: 60px;
  }
  .img-circle {
    width: 200px;
  }
  .flat-name {
    margin-left: 30px;
  }
  .info {
    margin-top: 80px;
  }
  .img-city {
    height: 50vh;
    text-align: center;
  }
}

form {
  padding: 20px;
  text-align: center;
  margin-left: 400px;
}

