.erland-title {
  text-align: center;
  color: white;
  background: $green;
  margin: 0;
}
.team-list {
  display: flex;
  justify-content: center;
  background: $orange;
}

.team-list-item {
  margin-right: 20px;
  img {
    width: 150px;
  }
}
