---
title: Le Wagon - Middleman - Team
---

<h1 class="erland-title">Team Erland <i class="fa fa-coffee"></i> by</h1>
<ul class="list-inline text-center team-list">
  <% data.users.each do |gh_username| %>
    <li class="team-list-item">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username.github_nickname}", class: "img-circle" %>
      <h3><%= gh_username.name.capitalize %></h3>
      <p>
        <% link_to "https://github.com/#{gh_username.github_nickname}", target: "_blank" do %>
          <i class="fa fa-github"></i> <%= gh_username.github_nickname %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
